#corpo{
	width:100%;
	min-height:1000px;
	height:auto;
	overflow: hidden;
}
#container-imagem{
	width:100%;
	height:500px;
	background-color:black;
	position:relative;

}
.titulo-principal{
	width:130px;
	height:100px;
	position:absolute;
	top:30%;
	left:42%;
	line-height:100px;
	font-size:2.5em;
	white-space:nowrap;
	text-shadow:2px 2px black;
	color:white;
}
.subtitulo{
	width:130px;
	height:100px;
	position:absolute;
	top:45%;
	left:37%;
	line-height:100px;
	font-size:2.5em;
	white-space:nowrap;
	text-shadow:2px 2px black;
	color:white;


}
.imagem-principal{
	width:100%;
	height:100%;
	background-color:red;
	position:absolute;
	 filter:opacity(alpha=50);
  -moz-opacity:0.5;
  opacity:1;
}
.imagem-principal img{
	width:100%;
	height:100%;
}
#container-produtos{
	width:100%;
	min-height:500px;
	height:auto;
	overflow:hidden;
}
#filtro{
	width:30%;
	height:1000px;
	float:left;
	margin-left:2%;
}
.unidades{
	width:100%;
	min-height:200px;
	height:auto;
	overflow:hidden;
	border-bottom:1px solid #dcdcdc;
}
.nota{
	width:100%;
	min-height:200px;
	height:auto;
	overflow:hidden;
	border-bottom:1px solid #dcdcdc;
}
.preco{
	width:100%;
	min-height:200px;
	height:auto;
	overflow:hidden;
	border-bottom:2px solid #dcdcdc;
}
.titulo{
	width:100%;
	height:30px;
	text-align:left;
	padding:3%;
	color:grey;
	margin-bottom:3%;
}
.detalhes-filtro{
	width:100%;
	min-height:100px;
	height:auto;
	overflow:hidden;
	text-align:left;
	padding:3%;
	color:black;

}
.detalhes-filtro > a, p{

	float:left;
	clear:left;
	margin-bottom:2%;
	margin-left:3%;
	text-decoration:none;
	color:black;

}
.detalhes-filtro > a:hover{
	text-decoration:underline;

}
#produtos{
	width:65%;
	height:1000px;
	float:left;
	z-index:999;

}
.faixa-produtos{
	width:100%;
	min-height:300px;
	height:auto;
	overflow:hidden;
	padding:5%;
	border-bottom:1px solid #dcdcdc;

}
.imagem-produtos{
	width:30%;
	height:200px;
	background-color:black;
	float:left;
}
.imagem-produtos img{
	width:100%;
	height:100%;
}
.titulo-produto{
	width:30%;
	height:40px;
	float:left;
	margin-left:5%;
	margin-bottom:2%;
	font-size:1.5em;
	white-space:nowrap;
	color:#3CB371;
	margin-top:1%;
}
.titulo-produto:hover{
	text-decoration:underline;
}
.descricao-produto{
	width:50%;
	min-height:80px;
	height:auto;
	overflow:hidden;
	float:left;
	margin-left:5%;
	color:#3CB371;
	font-size:0.9em;
	text-align:justify;
}

.nota-produto{
	width:8%;
	height:30px;
	background-color:#32CD32;
	float:left;
	position:relative;
	margin-left:2%;
	border-radius:3px;
	line-height:30px;
	color:white;
	margin-top:1%;
}
.preco-produto{
	width:8%;
	height:30px;
	background-color:red;
	float:left;
	margin-left:2%;
	font-weight:200;
	border-radius:3px;
	line-height:30px;
	color:white;
	margin-top:1%;
}
#caixa-busca{
	width:100%;
	height:50px;
	margin-bottom:1%;
	margin-top:1%;
	padding:2%;
}
.txt_pesquisa{
	float:right;
	width:30%;
	height:30px;
}
.btn_pesquisa{
	float:right;
	margin-right:5%;
	height:30px;
	border:none;
	text-transform:uppercase;
	background-color:red;
	color:white;
}
.estrelas{
	width: 15%;
	height: 30px;
	float: left;
	margin-top: 6%;
	white-space: nowrap;
}
.estrelas input[type=radio]{
	display: none;
}.estrelas label img.fa:before{
	content: '\f005';
	color: #FC0;
}.estrelas  input[type=radio]:checked  ~ label img.fa:before{
	color: #CCC;
}
