.principal_galeria{
  width:100%;
  min-height:1000px;
  height: auto;
  background-color: black;
}
.primeira_faixa{
  width:100%;
  height:85px;
  background-color: green;
  padding: 2px;    
  
}
.selecao_unidade{
  height: 100%;
  width: 30%;
  margin:auto;
  
}
.filtre_unidade{
  height:35%;
  width:100%;
  text-align: center;
}
.filtre_unidade a{
    color:#fff;
    font-weight: bold;
    font-size: 26px;
    font-family: Arial;
    
}
.busque_unidade{
  height:65%;
  width:100%;
  text-align: center;
}
.cbo_unidade{
  border-radius: 10px;
  font-style: italic;
  font-size: 20px;
  color: brown;
}
.btn_buscar{
  margin-top: 3px;
  margin-right: auto;
  margin-left: auto;
}
.busque_unidade input{
  border-radius:10px;
  height: 25px;
  width:100px;
  background-color: #B22222;

  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
.segunda_faixa{
  width:790px;
  height:300px;
  margin-left: auto;
  margin-right: auto;
}
.espaco_fotos_unidades{
  height:100%;
  width:100%;
  margin-top:10px;
}
.linha_imagem{
  height:200px;
  width:100%;
}
.unidade{
  height: auto;
  width: 200px;
  margin-left: 50px;
}
.img_unidade{
    height: 190px;
    width: 200px;
    border-radius: 10px;
    margin-top:5px;
    margin-bottom:25px;
    margin-left:35px;
    margin-right:25px;
    float: left;
    background-color: #B22222;
}
