#conteudo-galeria{
  width: 100%;
  height: 100%;
  background-color: red;
}
#foto{
  width: 200px;
  height: 200px;
  background-color: yellow;
  float: left;
  margin-left: 30px;
}
#caixa-inputs{
  width: 500px;
  height: 300px;
  background-color: yellow;
  float: left;
  margin-left: 30px;
}
#escolha{
  width: 500px;
  height: 100px;
  background-color: yellow;
  float: left;

  margin-left: 20px;
  margin-top: 10px;
}
#caixa-ver-imagem{
  width: 700px;
  height: 300px;
  background-color: yellow;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
