#faixa-1{
	width:100%;
	height:500px;
	position: relative;
}
#img{
	width:100%;
	height:100%;
	position:absolute;
}
#img img{
	width:100%;
	height:100%;
	opacity : 0.5;
	filter: blur(5px) contrast(2);
	z-index:1;
	
}
#titulo{
	z-index:3;
	position:absolute;
	font-size: 2.5em;
	left: 35%;
	top: 40%;
	color:white;
	text-shadow: 3px 1px 2px black;
}
#titulo {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
   animation-iteration-count: infinite;
}
    
@-moz-keyframes slidein {
  from {
    margin-left:50%;
    width:300%
  }
      
  to {
    margin-left:0%;
    width:100%;
  }
}

@-webkit-keyframes slidein {
  from {
    margin-left:100%;
	margin-top:2%;
    width:300%
  }
  
  to {
   margin-left:0%;
   width:100%;
 }
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
   margin-left:0%;
   width:100%;
 }
}
#corpo-enquete{
	width:100%;
	min-height:1000px;
	height:auto;
	padding:5% 6%;
}
#caixa-pergunta{
	
	width:80%;
	height:600px;
	margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	padding:5% 6%;
	background-color:white;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
}
.pergunta{
	width:100%;
	height:100px;
	margin-bottom:2%;
	padding:5% 6%;
}
.alternativas{
	padding:5% 6%;
	width:100%;
	height:80px;
	margin-bottom:2%;
	
}
.btn-enquete{
    text-align:center;
	padding:3% 4%;
    width:70%;
    height: 50px;
    border:none;
  	background-color:#deb887;
  	color:white;
  	text-transform:uppercase;
	letter-spacing: 1px;
	margin-left:15%;
}
.btn-enquete:hover{
	height:50px;
	color:#deb887;
	text-transform:uppercase;
	border:3px solid #deb887;
	background-color:white;
	transition:2s;
}