*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.container-foto-titulo{
		background-color: black;
		width: 100%;
		height: 500px;
		position: relative;
}
.imagem-titulo{
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
}
.imagem-titulo img{

	width: 100%;
	height: 100%;

}
.titulo_imagem{
	width: 80%;
	height: 40%;
	position: absolute;
	margin-left: 10%;
	margin-top: 8%;
}
.titulo_imagem h3{
	margin-left:38%;
 	color: white;
	font-size: 2.5em;

}

#principal{

  width: 100%;
  min-height: 100%;
  height: auto;
  overflow: hidden;
}
#main{
  width: 100%;
  min-height: 1000px;
  height: auto;
  position: relative;
  z-index: 600;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: 300ms ease all;
  -transition: 300ms ease all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-nav #main {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transform: translate3d(300px,0,0);
  transform: translate3d(300px,0,0);
}
#nav {
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 500;
  top: 0;
  left: -300px;
  background: #B22222;
  color: #fff;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;


}
ul li {
	position: relative;
	height:50px;
	line-height:15px;
}
li ul {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
}
ul li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px;
	border-bottom: 3px solid white;
}
.btn-close {
  color: #fff;
  font-size: 25px;
  border: 2px solid #fff;
  padding: 1px 11px 4px 10px;
  width: 38px;
  margin-bottom: 30px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  margin-top:3%;
  margin-left:2%;
}
#cabecalho{
	background-color:white;
	width:100%;
	height:150px;
}

.cabecalho-fixo{
	position:fixed;
	z-index:3;
	width:100%;
	background-color:#F0E68C;
	filter:opacity(alpha=60);
    -moz-opacity:0.3;
    opacity:0.9;
}
#slide{

	width:100%;
	height:550px;
	overflow:hidden;
}
#setas{
	width:1800px;
	position:relative;
	z-index:150;
	top:-300px;
	margin: 0 auto;
}
#proximo{
	width:80px;
	height:30px;
	position:relative;
	color:#333;
	float:right;
	padding:1px;
	line-height:30px;
	text-align:center;
}

#proximo img{

  opacity: 0.7;
}

#antes img{

  opacity: 0.7;
}

#antes{
	width:80px;
	height:30px;
	position:relative;
	color:#333;
	float:left;
	padding:1px;
	line-height:30px;
	text-align:center;
}
#slide ul{
	width:100%;
	height:100%;
}
#slide ul li{
	width:100%;
	height:100%;
}
#slide ul li img{
	width:100%;
	height:100%;
}
#logo{
	width:410px;
	height:100%;
  margin-right: auto;
  margin-left: auto;
}
#logo img{
	width:100%;
	height:100%;
}
#img-menu{
  width:70px;
	height:40%;
	float:left;
  margin-top:50px;
  margin-left:50px;
}
#img-menu img{
  width:100%;
  height:100%;
}
#campo_busca{
	width:40%;
	height:40px;
	float:left;
	margin-left:5%;
	background-color:yellow;
	margin-top:1.5%;
}
#txt_busca{
	width:80%;
	height:40px;
	float:left;
	border-bottom:1px solid black;
	border:none;
	cursor:pointer;
}
#btn-busca{
	width:20%;
	height:40px;
	color:none;
	border:none;
	background-color:none;

}
/*ESTILO BOTAO*/
.btn {
	width:35%;
	height:50%;
  background-color:#deb887;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 20px 10px 20px;
  text-decoration: none;
  float:left;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/*ESTILIZAÇÃO TABS*/
#faixa_reserva{
	width: 100%;
	height: 600px;
	background-color:white;
	text-align:center;
	padding:1% 6%;

}
#faixa_reserva h1{
	font-size:1.5em;
}
.main-content {
	width: 100%;
	height: 600px;
}

.main-content .menu{
	width: 100%;
	height: 60px;
	text-align: center;
	padding-top: 20px;
}

.main-content .menu li {
	width: 150px;
	height: 40px;
	color: black;
	text-align: center;
	line-height: 30px;
	display: inline-block;
	font-family: "Arial";
	cursor: pointer;
}

.main-content .menu li.active {
	border-bottom:3px solid #deb887;
	color: black;
}

.main-content .content {
	display: none;
	width: 900px;
	margin: 20px auto;
}

.main-content .content.active {
	display: block;
}


#faixa_valores{
	width: 100%;
	height: 500px;
}
#imagem-valores{
	width: 100%;
	height:500px;
	z-index:1;
	position:absolute;
}
#imagem-valores img{
	width: 100%;
	height:100%;
}
#texto-valores{
	width: 50%;
	height: 300px;
	border:1px solid white;
	z-index:3;
	position:absolute;
	margin-left:25%;
	margin-top:5%;
	text-align:center;
}
#texto-valores h1{
	font-size:1.5em;
	color:white;
	margin-top:5%;
}
.btn-valores {
	width:50%;
	height:50px;
	border:none;
	margin-top:10%;
	background-color:#deb887;
	color:white;
	text-transform:uppercase;
	 letter-spacing: 1px;
}

.btn-valores:hover {
	height:50px;
	color:#deb887;
	text-transform:uppercase;
	border:3px solid #deb887;
	background-color:white;
	transition:2s;
}
.btn-unidades {
	width:100%;
	height:100%;
	border:none;
	background-color:#deb887;
	color:white;
	text-transform:uppercase;
}

.btn-unidades:hover {
	height:100%;
	color:#deb887;
	text-transform:uppercase;
	border:3px solid #deb887;
	background-color:white;
	transition:0.5s;
}
#faixa_galeria{
	width: 100%;
	height: 720px;
	background-color:white;
	text-align:center;
	padding:5% 6%;
}
#faixa_galeria h1{
	margin-bottom:35px;
	font-size:1.5em;
}
#lado-direito{
	width: 100%;
	height: 250px;
}
#lado-esquerdo{
	width: 100%;
	height: 250px;
}
#caixa-botao{
	width: 20%;
	height: 70px;

	margin-left:40%;
	background-color:pink;
}
.foto{
	width: 30%;
	height: 200px;
	float:left;
	margin-left:3%;
}
#faixa_destaque{
	width: 100%;
	height: 500px;
	text-align:center;
	padding:5% 6%;
	margin-bottom:5%;
}
#faixa_destaque{
	font-size:1.5em;
}
/*CARROSEL*/
#carrossel {
	float: left;
	width: 200px;
	overflow: hidden;
	height: 300px;
	z-index:5;
	margin-left:25%;
	margin-top:5%;
}

#carrossel ul li {
	width: 200px;
	height: 300px;
	float: left;
	margin: 0 5px;
}
#carrossel ul li img{
	width: 100%;
	height: 100%;
}
#menu-carrossel {
	float: left;
	clear: both;
	width: 1000px;
	text-align: center;
	z-index:1;
	position:absolute;
	margin-top:195px;
	margin-left:18%;
}
.prev{
	float:left;
}
.next{
	float:right;

}
footer{
	width:100%;
	height:300px;
	background-color:#B22222;
  float: left;
}
#embrulho-rodape{
	margin:0 auto;
	width:1000px;
	height:300px;
}
#ins{
	width:20%;
	height:500px;
	float:left;
	padding:3% 2%;

}
#ins h1{
	text-transform:uppercase;
	margin-bottom:3%;
}
h3{
	padding:3% 2%;
	font-size:0.9em;

}
#ajuda_suporte{
	width:20%;
	height:500px;
	float:left;
	padding:3% 2%;
}
#ajuda_suporte h1{
	text-transform:uppercase;
	margin-bottom:3%;
}
#pagamento{
	width:30%;
	height:500px;
	float:left;
	padding:2% 2%;

}
#pagamento h1{
	text-transform:uppercase;
	margin-bottom:3%;
}

#caixa-4{
	width:30%;
	height:500px;
	float:left;
	padding:3% 2%;
	text-transform:uppercase;
}
#att{
	width:100%;
	height:200px;
	padding:3% 2%;
}
#certificados{
	width:30%;
	height:100px;
	padding:5% 15%;
}
#icon-redes{
	width:60%;
	height:65px;
	margin-top:3%;
}

/*ESTILIZAÇÃO PAGINA ENTRE EM CONTATO*/
#corpo-contato{
  width:100%;
  height:1000px;
  background-color: red;
}
#corpo-contato img{
  width:100%;
  height:100%;
  z-index: 1;
  position: absolute;
}
#caixa-contato{
  width:40%;
  height:700px;
  background-color: rgba(255, 219, 183, 0.8);;
  position: absolute;
  z-index: 2;
  margin-left: 30%;
  margin-top: 6%;
  padding: 2%;
}
.titulo{
  width: 100%;
  min-height: 12%;
  height: auto;
  overflow: hidden;
  text-align: center;
  border: 1px solid white;
  white-space: nowrap;
}
#caixa-contato h1{
    margin: 0 auto;
    width:25%;
    color: white;
    font-size: 1.8em;
    text-shadow: 2px 2px black;
}
.content-form{
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 5%;
}
.txt{
    width: 70%;
    height: 30px;
    margin-bottom: 5%;
}
.btn-comentario {
	width:80%;
	height:10%;
  background-color:#B22222;;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  float:left;
  margin-left: 10%;
  text-transform: uppercase;

}

.btn-comentario:hover {
  color:white;
  background-image: -webkit-linear-gradient(top, #deb887, #deb887);
  background-image: -moz-linear-gradient(top, #deb887, #deb887);
  background-image: -ms-linear-gradient(top, #deb887, #deb887);
  background-image: -o-linear-gradient(top, #, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.txt_area{
    resize: none;
    float: left;
    width: 80%;
    height: 150px;
    margin-left: 10%;
    margin-bottom: 2%;
}
#nucleo{
  width: 80%;
  height: 400px;
  margin-left: 10%;
}
#radio{
  width: 80%;
  height:30px;
  margin-left: 10%;
  margin-bottom: 2%;
}
.radio{
  float: left;
  background-color: purple;
}
