#corpo-enquete{
	width:100%;
	min-height:1000px;
	height:auto;
	overflow:hidden;	
}
.container-pergunta-enquete{
	width:80%;
	height:100px;
	margin:30px auto;
	margin-bottom:30px;
}
h2.accordion{ 
	cursor: pointer; 
}
div.accordion{ 
	display: none; 
	margin:30px auto 10px;
}
.btn_votar{
	width:100px;
	height:50px;
	float:right;
}