/* CSS - LOGIN */

*{

  margin: 0px;
  padding: 0px;
}

.section_login{

  width: 55%;
  min-height: 700px;
  height: auto;
  overflow: hidden;
  padding: 20px;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.form_login{

  width: 50%;
  min-height: 200px;
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.titulos_login{

  width: 100%;
  min-height: 60px;
  padding-top: 30px;
  font-size: 30px;
}

#titulo_login_cms{

  width: 100%;
  min-height: 100px;
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
}

.input_login{

  width: 100%;
  min-height: 60px;
  height: auto;
  overflow: auto;
}

.input_login input{

  width: 100%;
  min-height: 50px;
  height: auto;
  font-size: 20px;
}

.div_botoes_login{

  width: 100%;
  min-height: 50px;
  height: auto;
  overflow: auto;
}

.input_botao input{

  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.input_botao{

  width: 50%;
  min-height: 80px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.txt_entre_botao_login{

  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  color: #000;
  margin-left: 80px;
  margin-right: 50px;
  font-weight: bold;
}

.txt_index_cliente{

  width: 80%;
  min-height: 100px;
  height: auto;
  overflow: hidden;
  background-color: #DEB887;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
}
