*{
	font-family:Arial;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;
	color: black
}
.titulo_slide{
	width:100%;
	height:600px;
	position: relative;
}
#img{
	width:100%;
	height:auto;
	min-height: 500px;
	opacity:0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=40);
	background-repeat: no-repeat;
	background-color: black;
}
#img img{
	width: 100%;
	min-height:100%;
	height: auto;
}
.title{
	width:70%;
	min-height:100px;
	height: auto;
	position: absolute;
	z-index: 999;
	font-size:70px;
	color: white;
	text-shadow: 3px 3px black;
	margin-left:300px;
	margin-top:350px;
	text-align: center;

}
.caixa-sobre{
	width:100%;
	height:auto;
	min-height: 1000px;
	overflow: hidden;
	margin-top: 5%;
}
.principal{
	width:100%;
	height: auto;
	min-height: 400px;
	overflow: hidden;
	border: 1px solid black;

}
.imagem_div_principal{
	float:left;
	width: 300px;
	height: auto;
	min-height: 290px;
	overflow: hidden;
	background-color: yellow;
	margin-top: 20px;
	margin-left: 250px;
}
.imagem{
	float:left;
	width: 300px;
	height:auto;
	min-height:290px;
	overflow: hidden;
}
.imagem_slide{
	width: 100%;
	height:auto;
	min-height: 500px;
	overflow: hidden;
}
/*IMAGENS QUE VÃO REPRESENTAR CADA ACCORDION*/
.div_imagens_accordion{
	width: 100%;
	min-height: 400px;
	height: auto;
	overflow: hidden;
	padding: 2% 2%;
	margin-top: 5%;

}
.imagens_accordion{
	width: 300px;
	height:auto;
	min-height: 250px;
	overflow: hidden;
	float: left;
	margin-left: 250px;

}
.tamanho_imagem_accordion{
	width: 300px;
	height:auto;
	min-height: 250px;
	overflow: hidden;
}
/*FIM DAS IMAGENS */
/*div que contem todas as accordion*/
.div_accordion{
		width: 100%;
		height:auto;
		min-height: 200px;
		overflow: hidden;
}
.div_principal_titulo{
	width:300px;
	height:auto;
	min-height: 40px;
	overflow: hidden;
	margin-top: 5px;
	background-color:	#000000;
	text-align: center;
}
.div_conteudo_titulo{
	width:300px;
	height:auto;
	min-height: 100px;
	overflow: hidden;
}
.classh1{
	color:white;
	font-size: 30px;
}
.conteudo{
	width:500px;
	height:300px;
	background-color:#FFEFD5;
	display: none;
	margin-top: 5px;
	text-align: justify;
}
.div_principal_titulo1{
	display: none;
	background-color:white;
}

.div_historia{
	margin-top: 300px
	width: 100%;
	height:500px;
	background-image: url('../img/foto_nossa_historia.jpg');
	/*background-color: #7B68EE;*/
	margin-top: 0px;
	padding: 2% 2%;
	color: yellow;
}

.titulo{
	width: 400px;
	height: 40px;
	margin-left: 800px;
	z-index: 2;
	
	white-space: nowrap;
	color: white;
	text-shadow: 2px 2px #000;
}
.sla{
	width: 900px;
	height:auto;
	min-height: 250px;
	overflow: hidden;
	margin-left:500px;
	margin-top: 50px;
	background-color: black;
	opacity:0.50;
	-moz-opacity: 0.50;
	filter: alpha(opacity=50);
	font-size: 17px;
	color: white;
}
