*{
  margin:0;
  padding: 0;
  list-style-type:none;
}

a{
  color: white;

}
#container-cms{
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

#container-cms header{

  width: 100%;
  min-height: 200px;
  height: auto;
  overflow: auto;
}

#container-cms header img{

  width: 400px;
  height: 150px;
}

section{

    width: 100%;
    height: 100%;
    text-decoration: none;

}
#menu-cms{

  width: 200px;
  height: 1000px;
  float: left;
  background-color: #000;
}

#conteudo-cms{
  width: 800px;
  height: 1000px;
  text-decoration: none;
  float: left;
}
