
			<main>
					<div id = "faq">
						<div id = "txtFaq">
								<h1>FAQ</h1>
								<p><h3>Dúvidas Frequentes</h3></p>
						</div>
					</div>
						<div id = "conteudoFAQ">
								<div id = "duvidas">
									<div id = "txtDuvidas">
										Ainda ficou com dúvidas?
									</div>
								</div >
								<div > <img id="imagemFaq" src="imagens/faq.png"> </div>
								<div id = "contatosFaq">
									<p>faq@theribs.com.br</p>
										11 4141-8922 </div>
						</div>
				<!-- Div Accordion -->
				<div id="perguntas">
					<div class = "alinhamento">
						<div class="pergunta">
							<div ><a class="exibir">Pergunta?</a></div>
						</div>
						<div class = "resposta">
							<div > Resposta </div>
						</div>
						<div class="pergunta">
							<div ><a class="exibir">Pergunta?</a></div>
						</div>
						<div class = "resposta">
							<div > Resposta </div>
						</div>
						<div class="pergunta">
							<div ><a class="exibir">Pergunta?</a></div>
						</div>
						<div class = "resposta">
							<div > Resposta </div>
						</div>
						<div class="pergunta">
							<div ><a class="exibir">Pergunta?</a></div>
						</div>
						<div class = "resposta">
							<div > Resposta </div>
						</div>

						<div class="fechar_resposta"><a class="esconder">Fechar X </a></div>
					</div>
				</div>
				<!-- Fim accordion -->
			</main>
